html,
body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./images/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat

        
}
.fixed_button {
            margin: 0;
            position: absolute;
            top: 80%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@media only screen and (min-width: 300px) {
body {
        background-image: url(./images/bg4.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
            background-image: url(./images/bg3.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {
            margin: auto;
            width: 60% !important;
            
        }
        body{
            background-image: url(./images/bg3.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card {
            margin: auto;
            width: 60% !important;
        }
                  body {
                      background-image: url(./images/bg3.jpg);
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat
                  }
}